@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    color: #fff;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.875rem;
    overflow-x: hidden;
}

.first-page {
    background-color: #141313 ;
}

.nav-options {
    background-color: #2b2929;
    width: 100%;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-custom {
    display: flex;
    justify-content: space-around;
}

.nav-options li {
    list-style-type: none;
}

.nav-options li a {
    text-decoration: none;
    cursor: pointer;
    color: #5c5858;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #FFF;
}

.navbar-toggler {
    background-color: #5c5858;
    border-color: #5c5858 ;
}

.section {
    height: 109vh;
}

.principal {    
    display: flex;
    justify-content: center;
    color: #5c5858; 
    margin: auto;
    margin-top: 50px;
}

.info {
    max-width: 638px;
    max-height: 347px;
    margin-top: 150px;
    align-items: left;
}

.info h1 {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 25px;
}

.info p {
    line-height: 1.7rem;
    font-size: 1rem;
    word-spacing: 0.5rem;
    margin-bottom: 2.813rem;
}

.photo { 
    margin-top: 100px;
    margin-left: 90px;

}
.perfil-photo {
    max-width: 30rem;
    border-radius: 10%;
}
.btn-portfolio a {
    text-decoration: none;
    color: #fff;
}

.btn-portfolio:hover {
    background-color:#5c5858;
    border-color:#fff;
    color: whitesmoke;
}

.social-icons {
    margin-top: 30px;
}

.icon-link {
    text-decoration: none;
    margin-left: 8px;
}

.icon {
    color: #8f8f8f;
    transition: transform 0.3s ease, color 0.3s ease; 
}


.icon:hover {
    transform: scale(1.2);
    color: #FFF;
}

.icon-link:first-child {
    margin-left: 4px;
}

.second-page {
    color:#1B1B1B;
    display: flex;
    justify-content: space-around;
}

.center-column {
    margin-top: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

.center-column:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.second-page-title {
    margin-top: 30px;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 2.2rem;
}


.center-column {
    background-color: rgba(125, 142, 153, 0.2);
    border-radius: 13px;
    padding: 30px;
    margin-bottom: 20px;
}

.center-column {
    margin-right: 20px; 
}

.center-column {
    width: 50%;
    height: auto;
}

.sobre-mi {
    color: #626161;
    font-size: .9rem;
    font-family: "Raleway";
}
.experiencia {
    color: #626161;
    font-size: .9rem;
    font-family: "Raleway";
}
.educacion {
    color: #626161;
    font-size: .9rem;
    font-family: "Raleway";
}

.footer {
    height: 160px;
    background-color: #1a1111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
}

.social-icons-footer {
    margin-top:10px;
}


